<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="soap.cfcSoapBinding" maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000"/>
        <binding name="GoogleSearchBinding"/>
        <binding name="CorrigoService"/>
      </basicHttpBinding>
      <customBinding>
        <binding name="CorrigoService1">
          <textMessageEncoding messageVersion="Soap12"/>
          <httpTransport/>
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://furnituremedic.na.smcanada.ca/webservice/soap.cfc" binding="basicHttpBinding" bindingConfiguration="soap.cfcSoapBinding" contract="SRFurnitureMedic.Soap" name="soap.cfc"/>
      <endpoint address="http://api.google.com/search/beta2" binding="basicHttpBinding" bindingConfiguration="GoogleSearchBinding" contract="SRGoogleSearch.GoogleSearchPort" name="GoogleSearchPort"/>
      <endpoint address="http://am-ce92b.corrigo.com/wsdk/CorrigoService.asmx" binding="basicHttpBinding" bindingConfiguration="CorrigoService" contract="SRCorrigo.CorrigoService" name="CorrigoService"/>
      <endpoint address="http://am-ce92b.corrigo.com/wsdk/CorrigoService.asmx" binding="customBinding" bindingConfiguration="CorrigoService1" contract="SRCorrigo.CorrigoService" name="CorrigoService1"/>
    </client>
  </system.serviceModel>
</configuration>
